body{
    background-color: black;
}

header{
    width:auto;
    height:100px;
}

.conteiner-img{
    width:100wv;
    height:100vh;
    display:inline;
    margin-top:100px;
    position:relative;
    left:40px;
}

.beach{
    
}

.name{
    position: absolute;
    background-color: lightgray;
    left:0;
    bottom:4px;
    color: white;
    padding:3px;
}