body{
    background-color: black;
}

header{
    width:auto;
    height:100px;
}

header span{
    color: white;
    background-color:lightgray;
    padding:5px;
    position:relative;
    left: 1750px;
    top:10px;
    border-radius:5px;
    
}

.conteiner-img{
    width:100vw;
    height:100vh;
    display:inline;
    margin-top:100px;
    position:relative;
    left:40px;
}

.beach{
    margin-top:5px;
}

.name{
    position: absolute;
    background-color: lightgray;
    left:0;
    bottom:4px;
    color: white;
    padding:3px;
}


footer{
    width:100vw;
    height:100px;
    background-color: grey;
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    color: white;
}